body {
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/woven.png");
}

.circle {
  margin: 33px;
  border: solid 10px black;
  background-color: black;
  height: 500px;
  width: 500px;
  padding: 30px;
  overflow: hidden;
  position: relative;
  box-shadow: 8px 8px 15px 5px #888888;
}

#innerCircle {
  margin: 84px;
  background-color: #494646;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 30px;
  overflow: hidden;
  position: relative;
  border: 15px solid black;
}

#gameName {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  color: white;
  font-size: 25px; 
}

#scoreBox {
  font-family: 'Digital-7 Mono', arial;
  font-weight: bold;
  font-size: 24px;
  height: 40px;
  width: 65px;
  border: 3px solid #333333;
  border-radius: 10px;
  color: red;
  background-color: rgb(67,7,16);
  margin-top: 21px;
  margin-left: 20px;
  margin-right: 20px;
}

#startBtn {
    padding-left: 5px;
    height: 30px;
    width: 30px;
    border: 5px solid #333333;
    background-color: red;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 26px;
 }
 
 #twoThings {
  margin-top: 5px;
  width: 40px;
  height: 65px;
}

#light {
  height: 20px;
  width: 50px;
}

.onLight {
  padding-top: 10px;
  margin-left: 10px;
  padding-left: 7px;
  padding-right: 2px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #333333;
  background-color: black;
}

#strictBtn {
  padding-left: 5px;
  height: 30px;
  width: 30px;
  min-height: 20px;
  border: 5px solid #333333;
  background-color: yellow;
  border-radius: 50%;
  display: block;
  margin-top: 1px;
}

#controls {
  height: 75px;
}

#onSwitch {
  display: inline-block;
  height: 18px;
  background-color: black;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

#onOffSwitch {
  margin-top: 2px;
  width: 15px;
  height: 15px;
  background-color: LightBlue;
  margin-left: 0px;
  padding-left: 0px;
  border-left: 0px;
  float: left;
  border-radius: 2px;
}

#onOff {
  height: 45px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
}

#onText {
  padding-right: 0px;
  margin-left: 10px;
  padding-top: 10px;
  width: 30%;
}

#offText {
  padding-left: 8px;
  border: 0px;
  padding-top: 10px;
  width: 30%;
}

#ctrlLabls {
  margin-top: 0%;
  padding-top: 0%;
  border-top: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

#labels {
  margin-top: 0%;
  padding-top: 0%;
  border-top: 0px;
  margin-left: 20px;
  color: black;
  
}

#labels1 {
  margin-top: 0%;
  margin-left: 30px;
  color: black;
}

#labels2 {
  margin-left: 20px;
  color: black;
}

.quad1 {
  position: absolute;
  background-color: red;
  width: 50%;
  height: 45%;
  left: 55%;
  right: 0%;
  bottom: 50%;
  top: 0%; 
}

.quad2 {
  position: absolute;
  background-color: green;
  width: 45%;
  height: 45%;
  left: 0%;
  right: 45%;
  bottom: 50%;
  top: 0%;
}

.quad3 {
  position: absolute;
  background-color: yellow;
  width: 45%;
  height: 50%;
  left: 0;
  right: 50%;
  bottom: 0%;
  top: 55%;
}

.quad4 {
  position: absolute;
  background-color: blue;
  width: 50%;
  height: 50%;
  left: 55%;
  right: 0%;
  bottom: 0%;
  top: 55%;
}
