body {
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/woven.png");
}

.circle {
  margin: 33px;
  border: solid 10px black;
  background-color: black;
  height: 500px;
  width: 500px;
  padding: 30px;
  overflow: hidden;
  position: relative;
  box-shadow: 8px 8px 15px 5px #888888;
}

#innerCircle {
  margin: 84px;
  background-color: #494646;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 30px;
  overflow: hidden;
  position: relative;
  border: 15px solid black;
}

#gameName {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  color: white;
  font-size: 25px; 
}

#scoreBox {
  font-family: 'Digital-7 Mono', arial;
  font-weight: bold;
  font-size: 24px;
  height: 40px;
  width: 65px;
  border: 3px solid #333333;
  border-radius: 10px;
  color: red;
  background-color: rgb(67,7,16);
  margin-top: 21px;
  margin-left: 20px;
  margin-right: 20px;
}

#startBtn {
    padding-left: 5px;
    height: 30px;
    width: 30px;
    border: 5px solid #333333;
    background-color: red;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 26px;
 }
 
 #twoThings {
  margin-top: 5px;
  width: 40px;
  height: 65px;
}